* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fab 100%);
    font-size: 10px;
}

body {
    display: grid;
    place-items: center;
}

#chat-container {
    display: grid;
    grid: "search-container chat-title" 71px "participants-list chat-message-list" 1fr "new-message-container chat-form" 78px / 275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: #fff;
    border-radius: 10px;
}

#search-container,
#participants-list,
#new-message-container {
    background: #0048aa;
}

#logout {
    position: absolute;
    bottom: 10px;
}

#search-container {
    display: grid;
    align-items: center;
    padding: 0 0px;
    grid-area: search-container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#search-container input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    width: 100%;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url("./images/search.svg") no-repeat rgba(255, 255, 255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

#participants-list {
    grid-area: participants-list;
    overflow-y: scroll;
}

.participant {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002c88;
    padding: 20px 20px 20px 15px;
}

.participant.selected,
.participant:hover {
    background: #002c88;
}

.participant:hover {
    cursor: pointer;
}

.participant>img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.name {
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


/* .created-date {
    color: #ddd;
    font-size: 1rem;
} */


/* .conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
} */

#new-message-container {
    display: grid;
    grid: 40px / 40px;
    align-content: center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
}


#chat-title,
#chat-form {
    background: #eee;
}

#chat-title {
    display: grid;
    grid: 36px / 1fr 36px;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    color: #0048aa;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding: 0 20px;
}

#chat-message-list {
    padding: 10px 20px 0 20px;
    overflow-y: scroll;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-content, .message-time {
    display: grid;
}

.you-message, .message-time {
    justify-content: end;
}

.you-message .message-content {
    justify-items: end;
}

.other-message {
    justify-items: start;
}

.other-message .message-content {
    /* grid-template-columns: 48px 1fr; */
    grid-column-gap: 15px;
}

.message-row img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    grid-row: snap 2;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}


/* .message-time {
    font-size: 1.3rem;
    color: #777;
} */

.you-message .message-text {
    background: #004baa;
    color: #eee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

#chat-form {
    display: grid;
    align-content: center;
    align-items: center;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 15px;
    padding-right: 22px;
}

#chat-form input[type="text"] {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

#chat-form input[type="submit"] {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

#new-message-container img {
    border-radius: 30px;
    width: 45px;
    cursor: pointer;
}
#new-message-container {
    display: grid;
    grid: 45px / 40px;
    align-content: center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 20px;
}